<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ '500' }} {{ status_text }}</title>
</head>
<body>
<img src="{{ asset('bundles/dhplatform/images/error/error_wizzard.jpg') }}"  />
<h2><a href="{{ path('root') }}">Click here to return to the home page</a></h2>
</body>
</html>