{# src/DH/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
  Admin - {{ parent() }}
{% endblock %}


{% block body %}

<a href="{{ path('dh_admin_modules') }}">Modules</a> | <a href="{{ path('dh_admin_articles') }}">News</a><br/>

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block dhadmin_body %}
  {% endblock %}

{% endblock %}
