{# src/DH/PlatformBundle/Resources/views/Module/index.html.twig #}

{% extends "DHAdminBundle::layout.html.twig" %}

{% block title %}
  Zone d'administration - {{ parent() }}
{% endblock %}

{% block dhadmin_body %}

<h1>Cool ! On a une zone admin</h1>
<p>La dedans on va pouvoir faire pleins de trucs ! Du genre ...</p>
<li>Editer news</li>
<li>Supprimer news</li>
<li>Editer module (avec le status et tout)</li>
<li>Supprimer un module</li>

  

  <div class='cf'></div>

{% endblock %}
