<div id='connexion' class='center'>
    <h2 class='center'>Se connecter</h2>
    <form action="{{ path('fos_user_security_check') }}" method="post">
        <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Nom d'utilisateur" class='nav_respons_signup' autofocus/>
        <input type="password" id="password" name="_password" placeholder='Mot de passe' class='nav_respons_signup'/>
        <input type="submit" value="Connexion" class='nav_respons_signup'/>
    </form>
    {#<?php // include 'src/fb.php'; ?>#}
    <a onclick='show_signup_part("forget")' style='color: blue; font-size: 0.8em;'>Mot de passe oublié?</a>
    <p>Pas de compte? <a onclick='show_signup_part("signup");' style='color: blue;'>Inscrivez-vous</a></p>
</div>
<div id='forget' class='center' hidden>
    <h2 class='center'>Retrouver son mot de passe</h2>
    <form name='forget' action="" method='post'>
        <input required type='text' name='mail' placeholder='E-mail'/>
        <input type='submit' value='envoyer'>
    </form>
    <a onclick='show_signup_part("signin");' style='color: blue; font-size: 0.8em;'>Mot de passe retrouvé?</a>
</div>
