{# src/DH/PlatformBundle/Resources/views/Module/index.html.twig #}

{% extends "DHPlatformBundle::slide.html.twig" %}

{% block title %}
  Carnet de suivi - {{ parent() }}
{% endblock %}

{% block dhplatform_body %}

<h2><a href="{{ path('dh_platform_carnet_exportjson', {'id_user' : app.user.id}) }}">Exporter mon carnet de suivi !</a></h2>

<h2><a href="{{ path('dh_platform_carnet_show', {'id_user' : app.user.id}) }}">Visualiser mon carnet de suivi !</a></h2>

  <div class='cf'></div>

{% endblock %}