{# src/DH/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
    Mentions Légales - {{ parent() }}
{% endblock %}

{% block body %}

<div class='center'>
    <h1 class=news_item_title>Mentions Légales</h1>
    <div class="cf"></div>
    <div class='news_item'>
        <div id='Text_News'>
            <p>Les présentes Conditions Générales d'Utilisation ont pour objet de définir les modalités de mise à disposition du site www.Diabhelp.fr,
                ci-après nommé « le Service » et les conditions d'utilisation du Service par l'Utilisateur.</p>
            <h2>Partage de Données</h2>
            <p>Article 1: Diabhelp, Projet HUB Epitech Toulouse « Les informations recueillies font l’objet d’un traitement informatique destiné à aider la prise en charge des personnes diagnostiquées du diabète.
                Les destinataires des données sont les médecins partenaires de notre opération, ainsi que les personnes autorisées à en consulter leur contenu (Nutritionistes, administrateurs du site).
                Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent, que vous pouvez exercer en vous adressant à [ *à modifier + tard Damien.pollet@epitech.eu].
                Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant. </p>

            <p>Article 2: Le service Diabhelp dispose de moyens informatiques destinés à gérer plus facilement l’autonomie des personnes diagnostiquées diabétiques, ainsi que les applications mobiles liées à cet effet.
                Les informations enregistrées sont réservées à l’usage du service(s) concerné(s) et ne peuvent être communiquées qu’aux destinataires suivants : Médecin partenaires de notre initiative, nutritionistes, et autres organismes de santé partenaires.
                Conformément aux articles 39 et suivants de la loi n° 78-17 du 6 janvier 1978 modifiée en 2004 relative à l’informatique, aux fichiers et aux libertés, toute personne peut obtenir communication et, le cas échéant, rectification ou suppression des informations la concernant, en s’adressant au service Diabhelp-Informations.
                <span color=red>Attention !</span> En l’absence de réponse de votre part dans un délai d’un mois à compter de la réception de ce courrier, votre accord sera réputé acquis.
                Vous pourrez toutefois nous faire part ultérieurement, à tout moment, de votre souhait que la diffusion de vos données sur Internet cesse. Nous vous rappelons que vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données qui vous concernent.
                Pour exercer ce droit, adressez-vous à : à modifier + tard Damien.pollet@epitech.eu </p>

            <p>Article 3 : L'utilisateur s'engage, par la validation de ces conditions générales, à ne pas poster de contenu, pornographique ou offensant (racisme, sexisme, contenu discriminatoire, cruauté animale ou humaine) sous toute forme qu'il soit, ou tout autre contenu ne respectant pas l'activité générale du site www.Diabhelp.fr.</p>

            <p>Article 5: Diabhelp.fr propose des liens hypertextes vers des sites web édités et/ou gérés par des tiers. Dans la mesure où aucun contrôle n'est exercé sur ces ressources externes, l'Utilisateur reconnaît que www.Diabhelp.fr n'assume aucune responsabilité relative à la mise à disposition de ces ressources, et ne peut être tenue responsable quant à leur contenu.</p>
            <h2>Droit Intellectuel</h2>
            <p>La structure générale du site Diabhelp.fr , ainsi que les textes, graphiques, images, sons et vidéos la composant, sont la propriété de l'éditeur ou de ses partenaires.
                Toute représentation et/ou reproduction et/ou exploitation partielle ou totale des contenus et services proposés par le site Diabhelp.fr, par quelque procédé que ce soit, sans l'autorisation préalable et par écrit de l’équipe Diabhelp et/ou de ses partenaires est strictement interdite et serait susceptible de constituer une contrefaçon au sens des articles L 335-2 et suivants du Code de la propriété intellectuelle.

                Les marques « Diabhelp » sont des marques déposées par Diabhelp .
                Toute représentation et/ou reproduction et/ou exploitation partielle ou totale de ces marques, de quelque nature que ce soit, est totalement prohibée.</p>

            <h2>Responsabilité de l’éditeur Diabhelp </h2>
            <p>Les informations et/ou documents figurant sur ce site et/ou accessibles par ce site proviennent de sources considérées comme étant fiables.
                Toutefois, ces informations et/ou documents sont susceptibles de contenir des inexactitudes techniques et des erreurs typographiques.
                Diabhelp.fr se réserve le droit de les corriger, dès que ces erreurs sont portées à sa connaissance.
                Il est fortement recommandé de vérifier l’exactitude et la pertinence des informations et/ou documents mis à disposition sur ce site.
                Les informations et/ou documents disponibles sur ce site sont susceptibles d’être modifiés à tout moment, et peuvent avoir fait l’objet de mises à jour.
                En particulier, ils peuvent avoir fait l’objet d’une mise à jour entre le moment de leur téléchargement et celui où l’utilisateur en prend connaissance.
                L’utilisation des informations et/ou documents disponibles sur ce site se fait sous l’entière et seule responsabilité de l’utilisateur, qui assume la totalité des conséquences pouvant en découler, sans que Diabhelp.fr puisse être recherché à ce titre, et sans recours contre ce dernier.
                Diabhelp.fr ne pourra en aucun cas être tenu responsable de tout dommage de quelque nature qu’il soit résultant de l’interprétation ou de l’utilisation des informations et/ou documents disponibles sur ce site. </p>

            <h2>Accès au site</h2>
            <p>L’équipe Diabhelp.fr s’efforce de permettre l’accès au site 24 heures sur 24, 7 jours sur 7, sauf en cas de force majeure ou d’un événement hors du contrôle de L’équipe Diabhelp.fr, et sous réserve des éventuelles pannes et interventions de maintenance nécessaires au bon fonctionnement du site et des services.
                Par conséquent, Diabhelp.fr ne peut garantir une disponibilité du site et/ou des services, une fiabilité des transmissions et des performances en terme de temps de réponse ou de qualité.
                Il n’est prévu aucune assistance technique vis à vis de l’utilisateur que ce soit par des moyens électronique ou téléphonique.
                La responsabilité de l’éditeur ne saurait être engagée en cas d’impossibilité d’accès à ce site et/ou d’utilisation des services.
                Par ailleurs, Diabhelp.fr peut être amené à interrompre le site ou une partie des services, à tout moment sans préavis, le tout sans droit à indemnités. L’utilisateur reconnaît et accepte que Diabhelp.fr ne soit pas responsable des interruptions, et des conséquences qui peuvent en découler pour l’utilisateur ou tout tiers.</p>

            <h2>Modification des conditions d’utilisation </h2>
            <p>Diabhelp se réserve la possibilité de modifier, à tout moment et sans préavis, les présentes conditions d’utilisation afin de les adapter aux évolutions du site et/ou de son exploitation. </p>

            <h2>Droit applicable </h2>
            <p>Tant le présent site que les modalités et conditions de son utilisation sont régis par le droit français, quel que soit le lieu d’utilisation. En cas de contestation éventuelle, et après l’échec de toute tentative de recherche d’une solution amiable, les tribunaux français seront seuls compétents pour connaître de ce litige.
                Pour toute question relative aux présentes conditions d’utilisation du site, vous pouvez nous écrire à l’adresse suivante : Diabhelp 40 boulevard de la Marquette 31000 Toulouse </p>


            <br>
            <p>Certains éléments font partie du Modèle de CGU proposé par (http://www.droitissimo.com/contrat/conditions-generales-dutilisation-cgu-dun-site-internet) (http://www.droitissimo.com/) 	</p>
        </div>
    </div>
</div>

{% endblock %}