<div class="news_content_right fr">
    <div class="widget news_archive">
        <h2 class="news_archive_title">Archives</h2>
        <ul class="news_archive_item">
            <li><a href="#">Janvier</a></li>
            <li class="news_archive_item_line"></li>
            <li><a href="#">Février</a></li>
            <li class="news_archive_item_line"></li>
            <li><a href="#">Mars</a></li>
            <li class="news_archive_item_line"></li>
            <li><a href="#">Avril</a></li>
            <li class="news_archive_item_line"></li>
            <li><a href="#">Mai</a></li>
            <li class="news_archive_item_line"></li>
            <li><a href="#">Juin</a></li>
            <li class="news_archive_item_line"></li>
            <li><a href="#">Juillet</a></li>
            <li class="news_archive_item_line"></li>
            <li><a href="#">Août</a></li>
            <li class="news_archive_item_line"></li>
            <li><a href="#">Septembre</a></li>
            <li class="news_archive_item_line"></li>
            <li><a href="#">Octobre</a></li>
            <li class="news_archive_item_line"></li>
            <li><a href="#">Novembre</a></li>
            <li class="news_archive_item_line"></li>
            <li><a href="#">Décembre</a></li>
        </ul>
    </div>
</div>
