    <ul class="nav_second" >
        {% if modules %}
            {% for module in modules %}
                {% if module.display == 1 %}
                    <li>
                        <a href='{{ path('dh_platform_module_view', {'id': module.id}) }}'>{{ module.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        {% else %}
            <li>
                Pas de modules trouvé
            </li>
        {% endif %}
    </ul>
